<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #E1306C;" style="font-size: 25px">
    <div class="container">
      <a class="navbar-brand ml-1" href="{% url 'home' %}" style="font-size: 25px"><i class="fab fa-instagram "></i> | 🅸 🅽 🆂 🆃 🅰 </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="search">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline mx-auto" role="search" action="{% url 'search_results' %}" method="get">
          <div class="form-group">
            <input type="text" class="form-control" role="search" placeholder="&#xf002; search username" aria-label="Search" name="username">
          </div>
        </form>
      </div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" title="User">{{user}}</a>
          <li class="nav-item mx-1">
            <a class="nav-link" href="/profile/{{user.id}}" title="profile"><i class="far fa-user-circle fa-2x"></i></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout" title="Logout"><i class="fas fa-sign-out-alt fa-2x"></i></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</body>

</html>
