.form-inline:focus{
  outline: none;
}
.form-control {
  font-family: "FontAwesome"
}


body {
  background-image: url('/static/img/black.jpg');
    z-index: 0;
    background-color: black;
    background-blend-mode: lighten;

}

.card-header{
  background-color:#E1306C;;;
}
.img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
    div.col{
        display: none;;
    }
}

@media screen and (max-width: 600px) {
    .stories {
      display: none;
    }
}

.modal-backdrop.show {
    opacity: 0.8;
}


@media (min-width: 576px) {

  .modal-dialog {  max-width:none;}
}

.modal-dialog {
   width: 60%;
  height: 60%;
}

.modal-body {
   height: auto;
  min-height: 100%;
}

h2, {
  font-family: 'Shadows Into Light', cursive;
  text color:white;
}
.search{
  text-align: right;
}

.check{
  font-family: cursive;
  font-family: 'Abel', sans-serif;

}
