{%extends "registration/base.html"%} {% load bootstrap4 %}
{% block content %}
<div class="container-fluid mt-5 p-5"
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
  <h2><header style="font-size: 45px;"><i class="fab fa-instagram "></i> | Insta_Site</header></h2>
  <div class="row">
        <div class="col-lg-6 p-5">
        <img src=" http://www.sclance.com/pngs/iphone-8-png/iphone_8_png_715524.png" alt="" class="img-fluid">
    </div>
    <div class="col-lg-6 p-5">
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}

        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: pink">{{ error }}</p>
        {% endfor %}
      <p>
      {% endfor %}
      <div class="form-group">
        <input type="submit" class="btn btn-outline-danger btn-sm" value="Sign Up">
        <h2><p class="text">Do you have existing account?<a class="btn btn-danger" href="/accounts/login/">Sign In</a></p></h2>
      </div>
      <input type="hidden" name="next" value="{{next}}">

    </form>

  </div>

</div>
{% endblock %}
